html * {
  font-family: "Noto Sans JP", sans-serif;
}

.form-label.required:after {
  color: #d00;
  content: "*";

  margin-left: 8px;
  top: 1px;
}
/*
.btn-secondary {
  border-color: #a5a5a5 !important;
}
*/

.bg-navy-dark {
  background-color: #1a232d !important;
}

.bg-navy-dark.modal-header {
  border-bottom: 1px solid #4c454d !important;
}

.bg-navy-dark.modal-footer {
  border-top: 1px solid #4c454d !important;
}

.modal-content {
  background-color: #1a232d !important;
}

.readonly {
  background-color: #b9bcbf !important;
  border: 1px solid #b9bcbf !important;
}

.fs-7 {
  font-size: 0.8em;
}
